body {
    background-image:url(bilder/hintergrundbilder-strand.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: sans-serif;
}
p {
    color: whitesmoke;
    padding: 4px 5px 4px 10px;
}
a:link {
    color: black;
}
a:visited {
    color: white;
}
a:hover {
    color: yellow;
}
h1{
    padding: 4px 5px 4px 10px;
    background-color: black;
    color: white;
    font-family: Arial;
    border-radius: 4px;
}

ul {
    padding: 4px 5px 4px 40px;
}
.wiki2 {
    text-align: left;
}
.wiki img{
    alignment-adjust: middle;
    width: 480px;
    height: 60px;
}
